#canvasTable {
	position: absolute;
	top: 310px;
	margin: 0px;
	padding: 10px;
	border: 0px;
	border-spacing: 0px;
	border-collapse: separate;
}
#buttonTable {
	position: absolute;
	top: 180px;
	margin: 0px;
	padding: 10px;
	border: 0px;
	border-spacing: 0px;
	border-collapse: separate;
}

#editorCanvas {
	background-color: #bbbbbb;
	position: relative;
    cursor: crosshair;
}

#tool_title {
	top: 120px;
	padding: 10px;
	height: 10px;
}
#tool_description {
	top: 116px;
	padding: 10px;
}

button {
	background-color: #bbaaff;
	width: 90px;
	height: 20px;
	position: relative;
	right: 0px;
	top: 0px;
	cursor: pointer;
}

#gradientCanvas {
	position: relative;
}

#editorTextArea {
	font-family: Courier New, Courier New, Courier, monospace;
	font-weight: normal;
	font-size: 14px;
	width: 370px;
	height: 600px;
	background-color: #005E8A;
	color: #ffffff;
	position: relative;
	padding: 10px;
	resize: none;
	outline: none;
	wrap: soft;
}

.color {
	border: 2px inset;
	height: 20px;
	cursor: pointer;
}
