/* universal selector */
html {
	position: static;
}
body {
	position: static;
    background-color: #4f4a4d;
}
canvas {
    position: absolute;
}

#wrapper {
	width: 960px;
	margin: 0px auto;
}
#innerWrapper {
    width: 960px;
	margin: 20px auto;
    background-color: #444444;
	text-align: left;
}
